
      a:hover {
          cursor:pointer;
      }

      .modal-body {
        word-wrap: break-word;
    }

        .underline {
          display: table-cell;
          vertical-align: middle;
          text-decoration: underline
      }

      .notificationsubject {
          color: white !important;
          font-size: 15px !important;
          vertical-align: middle;
      }

      .notificationsubjectwrap {
          margin-left: 5px;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: white !important;
      }

      .notificationbell {
          display: inline-block;
          position: relative;
          font-size: 2em;
          background: #e9662c;
          border-radius: 0.2em;
          margin-top: 5px;
          margin-right: 10px;
          padding-right: 5px;
          padding-left: 5px;
          cursor: pointer;
      }
          .notificationbell::before,
          .notificationbell::after {
              color: #fff;
              text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
          }

          .notificationbell::before {
              display: block;
              content: "\f0f3";
              font-family: "FontAwesome";
              transform-origin: top center;
          }
