
  .cursor {
    cursor: pointer;
  }

  table tr th {
    background-color: #0074bd;
    color: #fff;
  }

  .center-right{text-align: center; padding-right: 5px;}
  .center-left{text-align: left; padding-right: 5px;}

  .residentVitals {
    height: 170px;
  }

  .residentVitals table {
    max-height: 170px;
    margin-bottom: 15px;
  }
