<ng-template #template>
    <div class="modal-header">

        <button class="close" (click)='this.closeModals()'><i class="fa fa-close "></i></button>
        <span class="modal-title">
            Vitals: {{filterSettingsValue.FilterValue}}
        </span>

    </div>
    <div class="modal-body">
        <div style="padding-top: 50px; text-align: center;" *ngIf="showSpinner">
            <span title="Retrieving details...">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
        </div>
        <div class="row" [hidden]="showSpinner">
            <div class="col-md-12 grid-container residentVitals" *ngIf="residentVitals && residentVitals.length > 0">
                <table [attr.border]="1" id="tblGridHeader" style="width: 100%;" >
                    <thead>
                        <tr>
                            <th class="center-left">
                                Date
                            </th>
                            <th class="center-right">
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of residentVitals">
                            <td class="center-left">{{data.EventDt  | date:'M/dd/yyyy HH:mm:ss a'}}</td>
                            <td class="center-right">{{data.DataValue}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-12" *ngIf="residentVitals && residentVitals.length === 0">
                <table style="width: 100%;">
                    <tr>

                        <td style="text-align: center; padding-top: 50px;">No {{filterSettingsValue.FilterValue}} data found in last 7 days.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
