
.indicator .title {
  font-size: 15px;
  font-weight: bold;
}

.close .fa {
  font-size: 25px !important;
}

.resident-score-value {
  border: solid 3px;
}

.detail-link {
  margin-left: 5px;
  text-decoration: underline;
  color:#f46f34;
}

.cursor {
  cursor: pointer;
}

