<div class="tableFooter" >
    <div class="tableFooter-legal">CONFIDENTIAL & FOR INTERNAL USE ONLY: This document has been prepared by, or at the behest of, the QAPI Committee for its review and evaluation. This document is not to be disclosed, copied or distributed without prior consultation with the legal department. Immune from disclosure pursuant to 42 U.S.C. 42 U.S. Code § 1396r (b) (1) (B) (ii) and 42 CRF 483.75(3)</div>
    <p></p>
    <div class="tableFooter-timestamp">Executed On: {{currentTime | date:'M/dd/yyyy h:mm:ss a'}}</div>
</div>