<div>
  <form class="form">
    <div style="padding-top:5%">
      <div class="col-lg-4">&nbsp;</div>
      <div class="body-content col-lg-4">
        <div class="header-content"><img src="../../../../src/assets/images/lock.png" alt="" class="img-responsive img-circle"
            style="margin:0 auto"></div>
        <div class="form-group text-center">
          <h1>{{user}}</h1>
        </div>

        <div class="form-group text-center">
          <div class="email">{{emailAddress}}</div>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-info" (click)="closeLockScreen();">Close</button>
        </div>
        <div class="clearfix"></div>
        <br />
      </div>
    </div>
  </form>
</div>