<div class="panel divlogin">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-middle">
        <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="body-content col-lg-12 col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="form-group text-center">
                        <a href="http://myrtms.com" target="_blank">
                            <img src="/src/assets/images/logo-rtms.png" alt="Logo" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    </div>
</div>