[hidden] {
    display: none !important;
}

.facility-view {
    display: inline-block;
    margin-left: 5px;
}

.btn-export {
    vertical-align: top !important;
    margin-top: 6px !important;
}

.page-title-breadcrumb.introjs-fixParent {
    position: absolute;
}